.menu {
    display: flex;
    flex-flow: column;
    position: relative;
    max-height: calc(100% - 3px);
    height: calc(90vh - 72px);
    color: var(--template-primary--600);
}

.menu_group {
    /* height: 58px; */
    display: flex;
    gap: 15px;
    white-space: nowrap;
    font-family: 'Open Sans';
    top: 30px;
    font-weight: 500;
}

.menu_item {
    display: inline-block;
    padding: 16px;
    background: var(--template-boundary-color);
    color: #fff;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    cursor: pointer;

}

.selected {
    background-color: rgb(255, 251, 251);
    color: rgb(6, 3, 3);
}

.menu_choice_steps {
    height: 100vh;
    margin: 0;
    padding: 32px 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    border-radius: 32px;
    background-color: var(--template-primary--000);
}

.menu_choice_step_step {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px 7px;
    font-family: 'Open Sans';
    font-style: normal;

    font-weight: 400;
    font-size: 20px;
    color: var(--template-primary--900);
    cursor: pointer;
}

.menu_choice_step_description {
    margin-right: auto;
    /* padding: 1em 0em 1em 0em; */
    line-height: 16px;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Open Sans';
    color: #323232;
}

.menu_light_bold {
    font-weight: 500;
    color: var(--template-primary--800);

}

.menu_choice_attribute_title {
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
    padding: 12px 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 10px;
}

.menu_choice_option_image_container {
    /* width: 92px;
    height: 92px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 8px;
}

.menu_choice_option_description {
    font-size: 16px;
    line-height: 1.4em;
    text-align: center;
    /* margin-top: 8px; */
    /* color: var(--template-primary--600); */
}


.backgroundSvg {
    width: 85px;
    height: 85px
}

@media screen and (max-width: 996px) {
    .menu_choice_option_image_container {
        width: 52px;
        height: 52px;
        margin: 0 auto;
        border-radius: 8px;
    }
}

@media screen and (max-width: 842px) {
    .menu_choice_option_image_container {
        width: 50px;
        height: 50px;
    }
}


@media screen and (max-width: 786px) {
    .backgroundSvg {
        width: 60px;
        height: 60px;
    }
}


@media screen and (max-width: 786px) {
    .menu {
        height: auto;
        left: 2px;
        width: 98vw;
    }

    .menu_group {
        z-index: 1;
        gap: 8px;
    }

    .menu_choice_steps {
        height: '';
        position: relative;
        bottom: 4%;
        /* bottom: 27%; */
    }

    .menu_choice_option_image_container {
        width: 60px;
        height: 60px;
    }

    .menu_choice_option_description {
        font-size: 13px;
    }

    .menu_choice_attribute_selected_option {
        font-size: 13px;
    }

    .menu_choice_step_description {
        font-size: 14px;
    }
}