div {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.viewer_zoom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
    /* position: absolute;  */
    right: 93.6%;
    /* top: 42%;  */
    color: var(--template-primary--600);
}

.ff_zoom_in {
    width: 24px;
    height: 24px;
    margin-left: 6px;
    /* position: absolute; */
    /* right: 93.7%;
    top: 65%; */
    fill: var(--template-primary--600);
    padding-bottom: 40px;
    cursor: pointer;
}

.ff_zoom_out {
    width: 24px;
    height: 24px;
    margin-left: 6px;
    /* position: absolute;
    right: 93.7%;
    top: 76.4%; */
    fill: var(--template-primary--600);
    cursor: pointer;
}

.ff_zoom_description {
    /* position: absolute;
    right: 93.1%;
    top: 72%; */
    font-size: 13px;
    color: var(--template-primary--600);
    padding-bottom: 15px;
}


.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    /* border-radius: 16px; */
}

.btn.btn-primary,
.btn.btn-secondary {
    border: 1px solid var(--template-primary--900);
}

.btn.btn-primary {
    color: var(--template-primary--200);
    background-color: var(--template-primary--900);
}

.bubble_button_ar {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 51%;
    top: 16%;
    width: 32px;
    height: 32px;
}

.bubble_button {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    top: 30%;
}

.bubble_button_button {
    /* /border: 1px solid lightgray; */
    border-radius: 50px;
    padding: 9px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0,0,0,0.12);
    ;
}

.bubble_button_text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    color: #7c7c7c;
    margin-top: 4px;
    padding-top: "15px"
}

.bubble_buttons {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu_footer {
    display: flex;
    flex-flow: row;
    /* border: 2px solid #d3d3d3; */
    align-items: center;
    /* position: relative; */
    /* position: fixed; */
}



.menu_price {
    padding-bottom: 22px;
    display: flex;
    font-family: 'Open Sans';
    font-weight: 600;
    line-height: 16px;
    font-size: 24px;
    font-style: normal;
    letter-spacing: -.5px;
    color: var(--template-boundary-color) !important;
}

.menu_help_customization_help {
    z-index: 12;
    position: relative;
    top: 16px;
    left: 30px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0;
    margin-top: 8px;
}


.price_value {}

.menu_actions {
    display: flex;
    margin-left: auto;
    gap: 20px;
    color: var(--template-boundary-color) !important;
    /* padding-right: 15px; */
}

.menu_btn_cart {
    /* margin-right: 10px; */
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    background-color: #4f5b6c !important;
    color: #ffffffff;
    border: 2px solid gray
}

.menu_btn_cart:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu_btn_list:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu_btn_list {
    /* margin-right: 10px; */
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    background-color: #f2f2f2 !important;
    color: #323232
}

.menu_btn_share_icon {
    width: 16px;
    height: 16px;
}

.scroll {
    display: none;
}




@media (min-width: 61.25em) {
    .menu_btn_cart {
        width: 216px;
    }

    .menu_btn_list {
        width: 216px;
    }
}

.left-keys {
    top: 3%;
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 3%;
}

@media screen and (max-width: 786px) {

    .bubble_button,
    .bubble_button_button,
    .bubble_button_text,
    .bubble_button_fullScreen {
        /* position: relative; */
        /* top: 0; */
        right: 80%;
        /* /bottom: 50px; */
        left: 0%;
    }

    .menu_btn_list {
        width: 164px;
    }

    .menu_btn_cart {
        width: 170px;
    }

    .bubble_button_ar {
        position: absolute;
        top: 4%;
        right: 4%;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 85%;
        width: 32px;
        height: 32px;
    }

    .bubble_button {
        top: 30%;
        left: 90% !important;
    }

    .bubble_button_fullScreen {
        display: none !important;
        top: 56%;
        left: 90% !important;
    }

    .bubble_buttons {
        display: none !important;
    }

    .viewer_zoom {
        display: none;
    }

    .left-keys {
        top: 2%;
        /* position: static !important; */
    }

    .scrollPosition {
        display: none !important;
        /* position: absolute; */
        /* top: 45%; */
        left: 12%;
    }

    .scroll {
        display: flex;
        margin-top: 15px;
        width: 36px;
        height: 48px;
        border-radius: 8px;
        display: flex;
        flex-flow: row;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
        ;
        padding: 0px;
    }

    .menu_footer {
        align-items: center;
        /* position: relative; */
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .left-keys {

        /* position: static !important; */
    }

    .bubble_button {
        display: none !important;
    }



    .menu_actions {
        margin: 0% !important;
        gap: 15px;
        padding-right: 0px !important;
    }

    .menu_price {
        padding-right: 27px;
        padding-bottom: 30px;
        /* padding-left: 10px; */
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 35px;
    }
}


.menu_options {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;
    opacity: 0;
    transform: translateY(-10px);
    overflow: hidden;
    transition:
        max-height 0.5s ease-in-out,
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out;
}

@media screen and (max-width: 568px) {
    .menu_options {
        gap: 8px;
    }
}