* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  --template-primary--000: #fff;
  --template-primary--200: #f4f4f4;
  --template-primary--400: #d7d7d7;
  --template-primary--600: #838383;
  --template-primary--800: #4f4f4f;
  --template-primary--900: #292929;
  --template-background-color: #f4f4f4;
  --template-default-box-shadow-color: rgba(0, 0, 0, 0.1);
  --template-loader-overlay: hsla(0, 0%, 95.7%, 0.4);
  --template-camera-box-shadow-color: rgba(0, 0, 0, 0.25);
  --template-boundary-color: #323232;
  --template-highlight-boundary-color: #0d0b0b;
  --template-add-to-cart-background-color: #4f5b6c;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f2f2f2 !important;
}

html {
  overflow-x: hidden;
} 

.triangle {
  margin-left: 7px;
  margin-bottom: 2px;
  width: 10px;
  height: 10px;
  background: var(--template-boundary-color);
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  transform: rotate(89deg);
}

/* .noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
} */


.app {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 20px;
  right: 7px;
  align-items: center;
  background-color: none;
}

.menu-button {
  font-size: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: none;
}


.popup {
  position: absolute;
  background-color: white;
  padding: 20px;
  width: 60vw;
  right: 0px;
  top: 0px;
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 7px;
  background: none;
  border: none;
  font-size: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.popup-buttons {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px;
}


.popup-buttons button {
  padding: 10px 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: none;
  display: flex;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 600;
  color: #323232;
}

.popup-buttons button:hover {
  background-color: #f2f2f2;
}

.sup {
  font-size: 10px;
}
/* Media Query for Mobile View */
@media (min-width: 768px) {
  .app {
    display: none;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  canvas {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
}
